main {
  width: 80%;
  margin: auto;
}


img {
  width: 200px;
  height: 300px;
}

.adminkep{
    width: 100px;
    height: 100px;
    box-shadow: 2px, 2px, gray;
}

.adminszoveg{
    font-size: 22px;
}

.kosaruzenet{
    text-align: center;
    margin: 20px;
}

.kosarbolvissza{
    text-align: center;
}

.kosarbolvissza>a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid rgb(48, 48, 48);
}
.kosara:hover{
    background-color: #212529;
    color: white;
}



.termekek {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.extra {
  margin-top: 20px;
  width: 300px;
  height: 40px;
}

.rendezes {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
}

table{
    margin-top: 20px;
}

.hozzaadas{
    margin-top: 20px;
    
}
.hozzaadgomb{
    height: 40px;
}

.nev{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

footer{
    text-align: center;
}

.rendelesgomb{
    margin-top: 20px;
}

.ciponev{
    text-decoration: underline;
    text-decoration-color: rgba(240, 248, 255, 0.61) ;
}

@media (max-width: 576px) {
    main{
        width: 100%;
        margin: auto;
    }
    .rendezes {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap; 
    }  
    .termekek{
        justify-content: center;
    }
}
@media (max-width: 775px) {
    .rendezes {
        display: grid;
        grid-template-columns: repeat(2, 10rem);
        gap: 10px;
    }
    .extra {
        margin-top: 20px;
        width: auto;
        height: 40px;
    }

    .termekek {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
        margin: auto;
        margin-top: 90px;
    }
    
}

@media (max-width: 1130px) {
    .termekek {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-top: 90px;
      }
}

@media (max-width: 1400px) {
    .termekek {
        gap: 20px;
        width: 100%;
        margin: auto;
        margin-top: 90px;
      }
}